
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    position: relative;
    text-align: center;
    padding: 20px;
    max-width: 80%; /* You can adjust this as needed */
    margin: auto;
}

.logo {
    position: relative;
    margin: 10px 15px 15px 10px;
}

.media-section {
    margin: 20px 0;
}

.discord-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #007BFF;
    color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
    margin-top: 20px;
}

.discord-button:hover {
    background-color: #007BFF;
    color: #fff;
}
